@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TOP2000</h1>
    <p class="lead">TOP2000 Applicatie Endoor 2020</p>
</div>

<div class="row">
    <div class="col-md-1">
        plaatje
        <p>
            PNG
        </p>
    </div>
    <div class="col-md-1">
        NR.
        <p>1</p>
    </div>
    <div class="col-md-1">
        VERLOOP
        <p>.</p>
    </div>
    <div class="col-md-4">
        TITEL
        <p>Bohemian Rhapsody.</p>
    </div>
    <div class="col-md-3">
        ARTIEST
        <p>Queen</p>
    </div>
    <div class="col-md-1">
        JAAR
        <p>1975</p>
    </div>
    <div class="col-md-1">
        
        <p>icoontje</p>
    </div>
</div>